
<p>Soy un desarrollador Fullstack viviendo en Buenos Aires, Argentina, con un historial comprobado en desarrollo web haciendo uso del stack FERN.</p>

<p>Mis habilidades técnicas, combinada con la búsqueda de la excelencia, me llevó a comenzar este viaje casi por accidente. Aceptando este camino, que se enfocaría en mi verdadera pasión, he estado aprendiendo nuevos lenguajes y tecnologías en una búsqueda constante de un próximo proyecto innovador.</p>

<p>Me dedico diariamente a mejorar mis habilidades como desarrollador, haciendo hincapié en la implementación tanto de tecnologías conocidas como nuevas.</p>

