
<p>I'm a dedicated Fullstack developer living in Buenos Aires, Argentina, with a proven track record in freelance web development. I am interested in collaborating as a valuable partner with an organization willing to add my expertise.</p>

<p>My technical proficiency, combined with a persuit of excellence, moved me in begining this jouney almost by accident. Having embraced this path in a career change that would focus on my true passion, I've been learning new languages and technologies in an ever-expanding quest for the next interesting project.</p>

<p>I firmly believe in fostering a healthy and cooperative working environment, recognizing its importance in achieving remarkable results. I am committed daily to improving my skills as a developer, placing a strong emphasis on the implementation of both known and new technologies.</p>
