
<p>I'm a dedicated Fullstack developer living in Buenos Aires, Argentina, with a proven track record in web development with FERN stack.</p>

<p>My technical proficiency, combined with a pursuit of excellence, moved me in beginning this journey almost by accident. Having embraced this path in a career change that would focus on my true passion, I've been learning new languages and technologies in an ever-expanding quest for the next innovative project.</p>

<p>I am committed daily to improving my skills as a developer, placing a strong emphasis on the implementation of both known and new technologies.</p>
