<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script type="text/javascript" src="js/script.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>

    <!-- icon -->
    <link rel="icon" href="img/logo.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Source+Code+Pro:wght@200;400;600;800&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HM5FLZ9LQV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HM5FLZ9LQV');
    </script>

    <title>Guido Di Mascio</title>
</head>