
<input type="checkbox" id="lang-toggle" class="check-toggle check-toggle-round" checked onclick="switchLang()">
<label class="label-toggle" for="lang-toggle"></label>
<span class="on">En</span>
<span class="off">Es</span>
