
<li>* <b>HTML</b></li>
<li>* <b>CSS</b></li>
<li>* <b>Javascript</b></li>
<li>* <b>Node.js</b></li>
<li>* <b>Express.js</b></li>
<li>* <b>Typescript</b></li>
<li>* <b>SQL</b></li>
<li>* React</li>
<li>* Bootstrap</li>
<li>* Git</li>
<li>* Database</li>
<li>* Firebase</li>
<li>* API</li>
<li>* Figma</li>
<li>* MongoDB</li>
