<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!-- HEADER -->
    <header id="header">
        <div class="header sct-mg">
            <div class="logo" style="width: 200px;">
                <a href="#"><img src="img/logo.png" alt="LOGO" class="logo"></a>
                {{!-- <p>Guido Di Mascio</p> --}}
            </div>

            <nav class="navbar">
                <ul>
                    <li id="_lang-en"><a href="#about">ABOUT</a></li>
                    {{!-- <li id="_lang-en"><a href="#tecnologias">TECHNOLOGIES</a></li> --}}
                    <li id="_lang-en"><a href="#proyectos">PROYECTS</a></li>
                    <li id="_lang-en"><a href="#contacto">CONTACT</a></li>
    
                    <li id="_lang-es"><a href="#about">SOBRE MI</a></li>
                    {{!-- <li id="_lang-es"><a href="#tecnologias">TECNOLOGÍAS</a></li> --}}
                    <li id="_lang-es"><a href="#proyectos">PROYECTOS</a></li>
                    <li id="_lang-es"><a href="#contacto">CONTACTO</a></li>
                    </ul>
            </nav>

            <div class="lang lang-navbar">
                {{> lang}}
            </div>

            <a href="javascript:void(0);" class="burger-menu" onclick="burger_menu()"><i class="fas fa-bars"></i></a>
        </div>

        <div class="burger-links" id="_burger-links" style="transform: translateX(100%);">
            <i onclick="burger_menu()" class="fa-solid fa-xmark"></i>
            <ul>
                <li id="_lang-en"><a onclick="burger_menu()" href="#about">ABOUT</a></li>
                {{!-- <li id="_lang-en"><a onclick="burger_menu()" href="#tecnologias">TECHNOLOGIES</a></li> --}}
                <li id="_lang-en"><a onclick="burger_menu()" href="#proyectos">PROYECTS</a></li>
                <li id="_lang-en"><a onclick="burger_menu()" href="#contacto">CONTACT</a></li>

                <li id="_lang-es"><a onclick="burger_menu()" href="#about">SOBRE MI</a></li>
                {{!-- <li id="_lang-es"><a onclick="burger_menu()" href="#tecnologias">TECNOLOGÍAS</a></li> --}}
                <li id="_lang-es"><a onclick="burger_menu()" href="#proyectos">PROYECTOS</a></li>
                <li id="_lang-es"><a onclick="burger_menu()" href="#contacto">CONTACTO</a></li>
            </ul>

            <div class="lang">
                {{> lang}}
            </div>
        </div>
    </header>

    <main>
        <!-- Seccion 1: Intro -->
        <section class="section1-intro" id="home">
            <div class="intro sct-mg">
                <div class="introGD-div">
                    <h2 class="introG">GUIDO</h2>
                    <h2 class="introDM">DI MASCIO</h2>
                </div>

                <div class="simbolo">&lt;<p class="dash">/</p>&gt;</div>     {{!--  </> --}}

                <h3 class="introWD">Web Developer</h3>
            </div>
        </section>

        <!-- Seccion 2: About -->
        <section class="section2-about section-title-pdd" id="about">
            <div>
                <div class="titulo">
                    <h2 id="_lang-es" class="titulo-main">ACERCA DE</h2>
                    <h2 id="_lang-en" class="titulo-main">ABOUT</h2>
                    <h2 class="titulo-gd">GUIDO DI MASCIO</h2>
                </div>
                <div class="about-txt" id="_lang-es">{{> about_es}}</div>
                <div class="about-txt" id="_lang-en">{{> about_en}}</div>
            </div>
        </section>

        <!-- Seccion 3: Tecnologias -->
        <section class="section3-tecnologias section-title-pdd" id="tecnologias">
            <div>
                {{!-- <div class="titulo">
                    <h2 id="_lang-es" class="titulo-main">TECNOLOGÍAS</h2>
                    <h2 id="_lang-en" class="titulo-main">TECHNOLOGIES</h2>
                </div> --}}

                <div class="tec-window">
                    <img src="img/Tecnologias/HTML5.png">
                    <img src="img/Tecnologias/CSS.png">
                    <img src="img/Tecnologias/Javascript.png">
                    <img src="img/Tecnologias/Node.png">
                    <img src="img/Tecnologias/Github.png">
                    <img src="img/Tecnologias/React.png">
                    <img src="img/Tecnologias/PHP.png">
                    <img src="img/Tecnologias/SQL.png">
                    <img src="img/Tecnologias/Firebase.png">
                    <img src="img/Tecnologias/Figma.png">
                    <img src="img/Tecnologias/Mongodb.png">
                    <img src="img/Tecnologias/Bootstrap.png">
                    <img src="img/Tecnologias/Express.png">
                </div>
            </div>
        </section>

        <!-- Seccion 4: Proyectos -->
        <section class="section4-proyectos section-title-pdd" id="proyectos">
            <div>
                <div class="titulo">
                    <h2 id="_lang-en" class="titulo-main">PROJECTS</h2>
                    <h2 id="_lang-es" class="titulo-main">PROYECTOS</h2>
                </div>
                <div class="proyectos">
                    <div class="website websiteWidth">
                        <a href="https://tiksys.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/TikSys.png" alt="TIKSYS">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project TikSys</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Ticket submit system through form submission and Firebase database</p>
                            <p id="_lang-es" class="descripcion">Systema de carga de tickets por medio de formulario y base de datos Firebase</p>
                            <div class="lenguajes">
                                <p class="node">Node.js</p>
                                <p class="express">Express</p>
                                <p class="firebase">Firebase</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/Proyecto-TikSys" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://mdimascio.netlify.app" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/MD.png" alt="MD">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project MD</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Landing page for Estudio Di Mascio - Asesores Tributarios</p>
                            <p id="_lang-es" class="descripcion">Landing page para Estudio Di Mascio - Asesores Tributarios</p>
                            <div class="lenguajes">
                                <p class="html">HTML</p>
                                <p class="css">CSS</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/MD" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://gdimascio.netlify.app" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/Webdev.PNG" alt="WEBDEV">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project Web Dev</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Web services online store</p>
                            <p id="_lang-es" class="descripcion">Tienda online de servicios web</p>
                            <div class="lenguajes">
                                <p class="html">HTML</p>
                                <p class="css">CSS</p>
                                <p class="js">JAVASCRIPT</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/Web-Dev" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://lp-template-react.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/LPtemplate.PNG" alt="LP-TEMPLATE-REACT">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project LP-template</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Landing page template</p>
                            <p id="_lang-es" class="descripcion">Plantilla de landing page</p>
                            <div class="lenguajes">
                                <p class="react">REACT</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/lp-template-react" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://ripplefx.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/Ripple.png" alt="RIPPLE">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project Ripple</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Tech demo: for ripple effect on mouse movement</p>
                            <p id="_lang-es" class="descripcion">Prueba técnica: fondo con efecto de ondas en respuesta al mouse</p>
                            <div class="lenguajes">
                                <p class="jquery">JQUERY</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/Ripple" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://clickmebutton.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/Clickme.png" alt="CLICKME">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project ClickMe</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Tech demo: dinamic displacing element in response to mouse proximity</p>
                            <p id="_lang-es" class="descripcion">Prueba técnica: desplazamiento de elementos dinámicos en respuesta al mouse</p>
                            <div class="lenguajes">
                                <p class="js">JAVASCRIPT</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/Proyecto-ClickMe" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://proyecto-fly.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/night-sky.jpg" alt="FLY">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project Fly</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Tech demo: dinamic displacing element inside a container</p>
                            <p id="_lang-es" class="descripcion">Prueba técnica: desplazamiento de elementos dinámicos dentro de un contenedor</p>
                            <div class="lenguajes">
                                <p class="js">JAVASCRIPT</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/Proyecto-Fly" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://domo-compleetlab.netlify.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/Domo.PNG" alt="DOMO">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project DOMO</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Landing page for client DOMO</p>
                            <p id="_lang-es" class="descripcion">Landing page para empresa DOMO</p>
                            <div class="lenguajes">
                                <p class="html">HTML</p>
                                <p class="css">CSS</p>
                            </div>
                            <a class="repo" href="https://github.com/gdimascio/DOMO" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                    <div class="website websiteWidth">
                        <a href="https://crimpo.vercel.app/" target="_blank">
                            <img class="websiteWidth" src="/img/Proyectos/Crimpo.png" alt="CRIMPO">
                        </a>
                        <div class="info websiteWidth">
                            <h3 class="proy-name">Project Crimpo</h3>
                            <span></span>
                            <p id="_lang-en" class="descripcion">Online store for professional cameras and accessories</p>
                            <p id="_lang-es" class="descripcion">Tienda online para venta de camaras y accesorios Reflex</p>
                            <div class="lenguajes">
                                <p class="node">Node.js</p>
                                <p class="express">Express</p>
                                <p class="firebase">Firebase</p>

                            </div>
                            <a class="repo" href="https://github.com/gdimascio/crimpo" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>






                </div>
            </div>
        </section>

        <!-- Seccion 4: Contacto -->
        <section class="section5-contacto" id="contacto">
            <div id="_lang-en">
                <div class="form">
                    <form action="/enviar" method="post">
                        <input type="text" name="nombre" id="nombre" required placeholder="Full Name *" >
                        <input type="email" name="email" id="email" required placeholder="Email *">
                        <input type="tel" name="telefono" id="telefono" required placeholder="Cel *">
                        <textarea name="mensaje" id="mensaje" required placeholder="Message"></textarea>
                        <button class="enviar-button button" type="submit">SEND</button>
                    </form>
                </div>
            </div>

            <div id="_lang-es">
                <div class="form">
                    <form action="/enviar" method="post">
                        <input type="text" name="nombre" id="nombre" required placeholder="Nombre y Apellido *" >
                        <input type="email" name="email" id="email" required placeholder="Email *">
                        <input type="tel" name="telefono" id="telefono" required placeholder="Cel *">
                        <textarea name="mensaje" id="mensaje" required placeholder="Mensaje"></textarea>
                        <button class="enviar-button button" type="submit">ENVIAR</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer-izq">
            <p>+54 9 (11) 5577 3362</p>
            <p>guido.dimascio@gmail.com</p>
        </div>
        <div class="footer-der">
            <div>
                <a href="https://www.linkedin.com/in/guidodimascio/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/gdimascio"><i class="fa-brands fa-github"></i></a>
            </div>
            <br>
            <div class="cv-links">
                <a id="_lang-en" href="https://www.dropbox.com/scl/fi/xpidl11iq996w1n3lh2te/Guido-Di-Mascio.pdf?rlkey=yqc8sil0ku6glshy3726elckz&dl=1" download="Guido Di Mascio.pdf" target="_blank">CV</a>
                <a id="_lang-es" href="https://www.dropbox.com/scl/fi/xpidl11iq996w1n3lh2te/Guido-Di-Mascio.pdf?rlkey=yqc8sil0ku6glshy3726elckz&dl=1" download="Guido Di Mascio.pdf" target="_blank">CV</a>
            </div>
        </div>

    </footer>


    <!-- BOTONES -->
    <div>
        <a href="https://wa.me/541155773362" target="_blank" class="whatsapp-button">
            <img src="img/WhatsApp.png" width="60px" alt>
        </a>
        <button onclick="topFunction()" id="_top-btn" class="scroll-to-top-button" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>
        <script>
            var mybutton = document.getElementById("_top-btn");
            window.onscroll = function() {scrollFunction()};
        </script>
    </div>
</body>
</html>