*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
}
.colores{
color: #272C30;
color: #328DC8;
color: #475457;
color: #22282C;
color: #282828;
color: #9399ae;
color: #AEF1FF;
color: #FFD79C;
color: #E7618B;
color: #2C3862;
}
body{
    font-family: 'Source Code Pro';
    background-color: #272C30;
}


/* ---Colapsar modulos para concentracion de trabajo--- */
/* header{display: none !important;} */
/* .section1-intro{display: none !important;} */
/* .section2-about{display: none !important;} */
/* .section3-tecnologias{display: none !important;} */
/* .section4-proyectos{display: none !important;} */
/* .section5-contacto{display: none !important;} */
/* .seccion-footer{display: none !important;} */



.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 140px;
}
.navbar{
    display: none;
}
.burger-menu{
    color: #328DC8;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 1;
}
.burger-links{
    /* display: none; */
    list-style: none;
    background-color: #191919;
    padding: 20px 15%;
    flex-direction: column;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    transform: translateX(100%);
    transition-duration: 0.25s;
    display: flex;
    align-items: center;
    z-index: 2;
}
.burger-links > i{
    margin-bottom: 20px;
    color: #AEF1FF;
}
.burger-links ul {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger-links ul li{
    margin: 20px;
}
.burger-links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.burger-links ul:hover a{
    /* color: #0002; */
    opacity: 30%;
}
.burger-links li:hover a{
    color: #AEF1FF;
    opacity: 100%;
}
#_lang-es{
    display: none;
}
.lang{
    position: absolute;
    bottom: 7%;
}
.lang > span{
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50px;
    text-align: center;
}
.check-toggle{
    visibility: hidden;
    position: absolute;
}
.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check-toggle-round + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #2F323D;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;  
}
.check-toggle-round:checked ~ .off {
    color: #191919;
}
.check-toggle-round:checked ~ .on {
    color: #AEF1FF;
}
.lang > span.on {
    left: 0;
    padding-left: 2px;
    color: #191919;
}
.lang > span.off {
    right: 0;
    padding-right: 2px;
    color: #AEF1FF;
}
.check-toggle-round + label:before, .check-toggle-round + label:after {
    display: block;
    position: absolute;
    content: "";
}
.check-toggle-round + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #272C30;
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
.check-toggle-round + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #191919;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}
.check-toggle-round:checked + label:after {
    margin-left: 40px;
}


.section1-intro{
    text-align: center;
    background-color: #2F323D;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
}
.intro > h2{
    font-size: 48px;
    color: #AEF1FF;
    font-weight: 600;
    letter-spacing: 10px;
}
.intro > img{
    max-width: 25vw;
    margin: 10vh 0;
}
.intro > h3{
    font-size: 24px;
    color: #FFD79C;
    font-weight: 400;
    letter-spacing: 5px;
}


.section-title-pdd{
    padding: 5vh 15px;
}

.section2-about{
    background-color: #2C3862;
}
.titulo{
    display: flex;
    gap: 20px;
}
.titulo > h2{
    font-size: 24px;
}
.titulo-gd{
    color: #AEF1FF;
}
.titulo-main{
    color: #E7618B;
}
.section2-about > p{
    padding-left: 90px;
    padding-top: 20px;
}


.section3-tecnologias{
    background-color: #22282C;
    min-height: 500px;
    position: relative;
    overflow: hidden;

}
.tec-window{
    min-height: 500px;
    /* border: 1px solid white; */
}
.tec-window > img{
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    transition-duration: 4s;
    /* top: 500px; */
    /* left: 80vw; */
}
.tecnologias-lista{
    position: absolute;
    right: -50%;
    background-color: #47545770;
    padding: 20px;
    top: 50%;
    width: 40%;
    backdrop-filter: blur(1px);
    transform: translate(-0%, -50%);
    z-index: 1;
    transition: all 0.5s ease-out;
}
.section3-tecnologias:hover .tecnologias-lista { 
    right: 0;
}
.ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.section4-proyectos{
    background-color: #272C30;
    height: 300px;
}
.section4-proyectos > P{
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 24px;
    color: #AEF1FF;
}

.section5-contacto{
    background-color: #292C36;
    max-height: 739px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form{
    background-color: #2F323D;
    position: relative;
    top: 40%;
    border-radius: 10px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 3vw;
    margin: 30px;
}
.form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
textarea, input{
    background-color: #22252E;
    border: 1px solid;
    padding: 5px;
    resize: vertical;
    margin: 10px 0!important;
    border-color: #292C36;
    min-height: 40px;
    width: 100%;
}
textarea{
    min-height: 90px;
}
.button{
    width: 90%;
    margin: 10px;
    background-color: #E7618B;
    border: 1px solid;
    padding: 5px;
    resize: vertical;
    margin: 10px !important;
    border-color: #292C36;
    color: #ffffff;
    min-height: 40px;
    width: 100%;
}



footer{
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > div{
    margin: 15px;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 0;
}
.footer-izq > p{
    padding: 5px 0;
    color: #F2F5FF;
}
.footer-der a{
    margin: 0 15px;
    font-size: 24px;
    color: #F2F5FF;
}
.cv-links > a{
    font-size: 12px;
}




.whatsapp-button{
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 10px 0;
    position: fixed;
    bottom: 85px;
    right: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    z-index: 100;
}
.scroll-to-top-button{
    display: none;
}















/*_______________________________________________________________*/
@media (min-width:424px){
    .header, .intro{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:767px) {
    .scroll-to-top-button{
        display: none !important;
    }
}


/*_______________________________________________________________*/
@media (min-width:767px){
    .header, .intro{
        margin-left: 15px;
        margin-right: 15px;
    }
    .scroll-to-top-button{
        width: 50px;
        height: 80px;
        padding-bottom: 20px;
        position: fixed;
        bottom: -25px;
        right: 10px;
        color: #ffffff;
        background-color: black;
        opacity: 70%;
        text-align: center;
        text-decoration: none;
        line-height: 1.2;
        z-index: 100;
        max-width: 50px;
        border-radius: 8px;
        font-size: 18px;
        border: none;
        transition: opacity 0.3s;
        animation-name: scroll-fade;
        animation-duration: 1.5s;
    }
    @keyframes scroll-fade {
        from {opacity: .0} 
        to {opacity: 70%}
    }
    .scroll-to-top-button:hover{
        color: #AEF1FF;
        width: 50px;
        height: 80px;
        transition: background-color 0.2s linear;
        transition: opacity 0.2s linear;
        opacity: 100%;
        background-color:#03265c;
    }
    .whatsapp-button{
        animation: wiggle ease;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-delay: 4s;
    }
    @keyframes wiggle {
        0% { transform:translate(0,0) }
        1.78571% { transform:translate(5px,0) }
        3.57143% { transform:translate(0,0) }
        5.35714% { transform:translate(5px,0) }
        7.14286% { transform:translate(0,0) }
        8.92857% { transform:translate(5px,0) }
        10.71429% { transform:translate(0,0) }
        100% { transform:translate(0,0) }
    }
}

/*_______________________________________________________________*/
@media (min-width:960px){
    .header{
        max-width: 940px;
    }
}

/*_______________________________________________________________*/
@media (min-width:1240px){
    .header{
        max-width: 1080px;
    }
    .navbar{
        display: inline-block;
        width: 40vw;
    }
    .navbar > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        max-width: 40vw;
    }
    .burger-menu{
        display: none;
    }
}